@font-face {
  font-family: 'ziti';
  src: url('fusion-pixel-12px-monospaced-ko.ttf') format('truetype');
}

h1 {
  font-family: "ziti";
}

h2 {
  font-family: "ziti";
}

h3 {
  font-family: "ziti";
}

h4 {
  font-family: "ziti";
}

h5 {
  font-family: "ziti";
}

h6 {
  font-family: "ziti";
}

div {
  font-family: "ziti";
}
p{
  font-family: "ziti";
}
main{
  font-family: "ziti";
}
a{
  font-family: "ziti";
}
p{
  font-family: "ziti";
}