@-moz-document regexp("^")
{
    @font-face
    {
        font-family: 'ft';
        src: url(https://utac99645.top/about/S/MapleMono-ExtraBold.ttf) format('truetype');
    }

    body
    {
        font-family: "ft";
        background-image: url(https://utac99645.top/bg/107290818_p0.png);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    h1
    {
        font-family: "ft";
    }

    h2
    {
        font-family: "ft";
    }

    h3
    {
        font-family: "ft";
    }

    h4
    {
        font-family: "ft";
    }

    h5
    {
        font-family: "ft";
    }

    h6
    {
        font-family: "ft";
    }

    div
    {
        font-family: "ft"
    }

    html
    {
        font-family: "ft";
    }

    p
    {
        font-family: "ft";
    }

    main
    {
        font-family: "ft";
    }

    a
    {
        font-family: "ft";
    }

    p
    {
        font-family: "ft";
    }

    th
    {
        font-family: "ft";
    }

    td
    {
        font-family: "ft";
    }

    tr
    {
        font-family: "ft";
    }

    button
    {
        font-family: "ft";
    }

    script
    {
        font-family: "ft";
    }

    link
    {
        font-family: "ft";
    }

    meta
    {
        font-family: "ft";
    }

    use
    {
        font-family: "ft";
    }

    ui
    {
        font-family: "ft";
    }

    ul
    {
        font-family: "ft";
    }

    header
    {
        font-family: "ft";
    }

    li
    {
        font-family: "ft";
    }

    ol
    {
        font-family: "ft";
    }

    path
    {
        font-family: "ft";
    }

    span
    {
        font-family: "ft";
    }
}
